<div data-role="view" data-title="text: strings.home.title" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="homeScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.home.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
 

    <p><label class="w3-text-red"><b>Nombre</b></label><input id="persona_nombre" class="w3-input w3-border textos"  value="VINICIO"/></p>
    <p><label class="w3-text-red"><b>Apellido</b></label><input id="persona_apellido" class="w3-input w3-border textos"  value="ORTEGA" /></p>
    <p><label class="w3-text-red"><b>Email</b></label><input id="mail" class="w3-input w3-border textos" value="vinicio.ortega@inpsercom.com"  /></p>
    <p><label class="w3-text-red"><b>Celular</b></label><input id="telefono_celular" class="w3-input w3-border textos" value="099123456"  /></p>



       <!-- END_CUSTOM_CODE_home -->
</div>